* {
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	height: 100%;
}

/* BANNER */

div.banner {
	width: 100%;
	height: 110vh;
	background-image: url('../imagens/capa.png');
}

header {
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	height: 100px;
}

div.banner .cont-menu {
	width: 90%;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
}

div.banner .cont-menu ul {
	display: flex;
	list-style: none;
	color: white;
	
}

div.banner .cont-menu ul li {
	margin: 0px 30px;
}

div.banner .cont-menu ul li a {
	border: 0px;
	color: white;
	text-decoration: none;
}

div.banner .logo {
	width: 160px;
	height: 40px;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../imagens/logo-danki.png');
}

div.banner .center {
	color: white;
	margin: 200px 150px;
	max-width: 600px;
	float: right;
	
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

div.banner .center h2 {
	font-weight: normal;
	font-size: 40px;
}

div.banner .center p {
	margin-top: 10px;
	font-size: 15px;
}

@media screen and (max-width: 785px) {

	div.banner {
		height: 592px;
	}

	div.banner .logo {
	width: 200px;
	height: 80px;
	}

	header {
		height: auto;
	}

	div.banner .cont-menu {
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: auto;
	width: 100%;	
	
	}

	div.banner .cont-menu ul {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	    width: 90%;
	}

	div.banner .cont-menu ul li {
		display: block;
		width: 100%;
		background-color: white;
		margin: 1px 0px;
		text-align: center;
		padding: 10px;
	}

	div.banner .cont-menu ul li a {
		color: black;
		
	}

	div.banner .cont-menu ul li:hover {
		transition: 0.3s;
		opacity: 0.6;
	}

	div.banner .center {
		max-width: 100%;
		margin: 50px 0px;
		float: none;
		/* background-color: red; */
		text-align: center;	
		width: 100%;
		-webkit-align-items: center;
		        align-items: center;
	}

	div.banner .center h2 {
		font-size: 30px;
		/* background-color: green; */
		max-width: 100%;
		padding: 10px;
	}

	div.banner .center p {
		font-size: 15px;
	}

}

/* SECTION SISTEMAS */

section.sistem {
	width: 100%;
	height: 400px;
	background-color: #472562;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
}

section.sistem .cont-sistem {
	width: 80%;
	/* background-color: red; */
	display: flex;
}

section.sistem .cont-sistem ul {
	list-style-position: inside;
}

section.sistem .cont-sistem .cont-ul {
	width: 50%;
	height: 100%;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
	        justify-content: center;
	/* margin: 0px 70px; */
	color: white;
	/* background-color: green; */
}

section.sistem .cont-sistem h2 {
	color: white;
	font-size: 26px;
	margin-bottom: 10px;
	font-weight: normal;
}

section.sistem .cont-sistem p {
	padding: 10px;
}

section.sistem .cont-sistem ul li {
	margin: 5px 0px;
}

section.sistem .cont-sistem button {
	width: 165px;
	height: 44px;
	margin-top: 30px;
	-webkit-border-radius: 30px;
	        border-radius: 30px;
	border: 0px;
	background-color: #FF703D;
	color: white;
	cursor: pointer;
}

section.sistem .cont-sistem div.device {
	min-width: 450px;
	width: 50%;
	height: 110%;
	background-image: url('../imagens/device.png');
	background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: -40px;
}

@media screen and (max-width: 950px) { 

	section.sistem .cont-sistem div.device {
		display: none;
	}

	section.sistem .cont-sistem .cont-ul {
		width: 100%;
		-webkit-align-items: center;
		        align-items: center;
	}

}

/* SECTION PESSOAS */

section.peoples {
	background-color: white;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

section.peoples .cont-people {
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: center;
	width: 70%;
}

section.peoples .cont-people h2 {
	color: #472663;
	font-size: 1.5rem;
	font-weight: normal;
	margin: 30px 0px;
}

section.peoples .cont-people p {
	min-width: 350px;
}

section.people .cont-img {
	width: 80%;
}

section.peoples img {
	width: 98%;
	margin: 0px 5px;
	position: relative;
	bottom: -50px;
	background-color: green;
	z-index: 10;	
}

/* SECTION TIME E AUTOR */

section.container {
	background-color: red;
	width: 100%;
	height: 450px;
	display: flex;
}

section.container .part1 {
	height: 100%;
	width: 50%;
	background-color: #835FA7;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
}

section.container .cont-time {
	width: 80%;
	color: white;
}

section.container .cont-time h2 {
	font-weight: normal;
	font-size: 23px;
	font-style: italic;
}

section.container .cont-time p {
	font-size: 15px;
	line-height: 35px;
	margin-top: 10px;
}

section.container .cont-actor {
	/* background-color: red; */
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 90%;
	height: 60%;
}

section.container .cont-actor img {
	width: 40px;
	height: 40px;
	margin: 0px 10px;
}

section.container .cont-actor .cont-actor-img{
	display: flex;
}

section.container .cont-actor img, section.container .cont-actor h2 {
	margin-top: 60px;
}

section.container .cont-actor  h2 {
	/* font-weight: normal; */
}

section.container .cont-actor p {
	color: #232323;
	font-size: 13px;
	font-style: italic;
}

section.container .cont-actor span {
	margin-top: 10px;
}

section.container .cont-actor span.cicle {
	height: 16px;
	width: 16px;
	background-color: rgb(170,170,170);
	margin: 15px 5px;
	-webkit-border-radius: 100%;
	        border-radius: 100%;
}

section.container .cont-actor div.cicles {
	display: flex;
}

section.container .part2 {
	height: 100%;
	width: 50%;
	background-color: white;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
}

@media screen and (max-width: 580px) {
	
	section.container {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	    		    position: relative;
	    top: 25px;
	    
	}

	section.container .part1 {
		padding: 10px;
		width: 100%;
	}

	section.container .cont-time {
		margin-top: 50px;
	}

	section.container .part2 {
		padding: 10px;
		width: 100%;
	}

	section.container .part2 .cont-actor {
		-webkit-justify-content: center;
		        justify-content: center;
	}

}

/* SECTION MAP */

section.map  {
	width: 100%;
	height: auto;
	padding: 20px;
	background-color: #472563;
	display: flex;
}

section.map div.cont-contato {
	height: 100%;
	width: 50%;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
}

section.map div.cont-contato form {
	width: 80%;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

section.map div.cont-contato form h2, section.map div.cont-contato form p {
	color: white;
	font-weight: normal;
}

section.map div.cont-contato form input[type=text] {
	width: 90%;
	max-width: 480px;
	margin-top: 10px;
	height: 58px;
	line-height: 58px;
	padding-left: 8px;
}

section.map div.cont-contato form input[type=submit] {
	border: 0px;
	width: 164px;
	height: 44px;
	-webkit-border-radius: 30px;
	        border-radius: 30px;
	margin-top: 15px;
	background-color: #FF703D;
	color: white;
}

section.map div.cont-contato form textarea {
	width: calc(89% + 2px);
	height: 115px;
	padding-left: 8px;
	margin-top: 10px;
	max-width: 480px;
}

section.map div.maps {
	width: 50%;
	height: 100%;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
}

section.map div.maps .cont-map iframe {
	width: 100%;
	height: 80%;
	border: 5px solid rgb(200,200,200);
}

section.map div.maps .cont-map {
	width: 100%;
	height: 450px;
}

section.map div.maps .cont-map h2 {
	color: white;
	font-weight: normal;
	margin-bottom: 10px;
}

@media screen and (max-width: 950px) { 

	section.map {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	section.map div.cont-contato {
		width: 100%;
		text-align: center;
	}

	section.map div.cont-contato form {
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-align-items: center;
		        align-items: center;
	}

	section.map div.maps .cont-map {
		height: 400px;
		width: 100%;
	}

	section.map div.maps {
		width: 100%;
	}	

}

/* FOOTER */

footer {
	width: 100%;
	padding: 40px 2%;
	background-color: #192123;
	color: white;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

@media screen and (max-width: 600px) {
	footer {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	    -webkit-align-items: center;
	            align-items: center;
	}
}

